.title{
    justify-content: center;
    display: flex;
    color: #E66EB2;
  }
   
  .color{
    background-image: url(https://th.bing.com/th/id/R.7213c256231cacf5c1475896f44833ac?rik=%2b80joocrmBd1dw&pid=ImgRaw&r=0&sres=1&sresct=1);
  }
   
  .now{
    justify-content: center;
    display: flex;
    background-color: #BF045B;
    font-size: 27px;
    font-style: italic;
   
  }
   
  .option{
    color: white;
    font-style: italic;
    display: flex;
    justify-content: space-between;
  }
   
  .buy{
    color: #BF045B;
    font-style: italic;
    display: flex;
    justify-content: center;
    font-size: 30px;
  }
   
   .do{
    justify-content: center;
    display: flex;
   }
   
   .bo{
    justify-content: center;
    display: flex;
    height: 50px;
   }
   
   .st{
    color: white;
    background-color: #BF045B;
    box-shadow: white;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
    font-style: italic;
   }
   
   .des{
     width: 90%;
   }
   
   .po{
    justify-content: center;
    display: flex;
   }
.th{
    width: 1301px;
   
   
}

.ame{
  position: static;
    width: 1300px;
    height: 590px;
    overflow: hidden;
}

.th{
    position: relative;
}

.nose{
    position: absolute;
    width: 300px;
    height: auto;
    top: 1270px;
    right: 750px;
}

.del{
  position: absolute;
  font-style: italic;
  font-size: 30px;
  color: white;
  top: 1470px;
  right: 700px;
}

.edi{
  position: absolute;
  font-style: italic;
  font-size: 30px;
  color: white;
  top: 1500px;
  right: 700px;
}

.pre{
  color: white;
    background-color: #BF045B;
    box-shadow: white;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
    font-style: italic;
    position: absolute;
    top: 1585px;
    right: 850px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    border-style: solid;
    height: 50px;
}

.relax{
  position: relative;
  width: 1300px;
}
 
.width{
  height: 565px;
  overflow: hidden;
}
 
.go{
  position: absolute;
  font-style: italic;
  font-size: 30px;
  color: white;
  top: 2035px;
  right: 850px;
}
 
.stream{
  height: 40px;
  width: 125px;
  color: white;
    background-color: #BF045B;
    box-shadow: white;
    border-style: none;
    border-radius: 0px;
    cursor: pointer;
    font-style: italic;
    font-size: 15px;
    top: 2125px;
    right: 930px;
    position: absolute;
}
 
.vinyl{
  height: 40px;
  width: 125px;
  color: white;
    background-color: #BF045B;
    box-shadow: white;
    border-style: none;
    border-radius: 0px;
    cursor: pointer;
    font-style: italic;
    font-size: 15px;
    top: 2125px;
    right: 750px;
    position: absolute;
}
 
.album{
  position: absolute;
  font-style: italic;
  font-size: 30px;
  color: white;
  top: 1925px;
  right: 800px;
}